* {
  margin: 0;
  padding: 0;
}


li {
  list-style-type: none;
}

.app-wrapper {
  width: 1120px;


  margin: 0 auto;
  padding: 0 10px;
  display: grid;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas: 
  "a-header a-header"
  "a-nav a-content";
}

/* HEADER */


.app-header {
  grid-area: a-header;
  background-color: rgb(39,118,97);

  padding: 10px;

  display: flex;
  align-items: center;
}

.app-header img {
  height: 100%;
}

.header-text {
  font-size: 18px;

  margin-left: 20px;

  color: #fff;
}

/* NAVIGATION */

.app-navigation {
  grid-area: a-nav;
  background-color: rgb(39,118,97);

  padding: 10px;

  font-size: 25px;
}

/* CONTENT */

.app-content {
  grid-area: a-content;
  background-color: green;
}

.app-content-image {
  height: 400px;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
}

.image-buster {
  background-color: rgba(255, 255, 255, 0.411);
  height: 250px;
  width: 100%;

  position: absolute;
  bottom: 0;

  padding: 10px;
}

.avatar {
  height: 100px;
  width: 100px;
}

.app-content-info {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.name {
  font-size: 25px;
  font-weight: 700;
}